<h2>Example with customised date format</h2>

<sy-audit-trail [lastModifiedByEmail]="lastModifiedByEmail" [createdByEmail]="createdByEmail" [created]="created" [lastModified]="lastModified" [dateFormat]="dateFormat">
</sy-audit-trail>
<h4>HTML</h4>
<pre>
    <code>{{codeExample}}</code>
</pre>

<h4>Script(TS)</h4>
<pre>
    <code>{{codeScript}}</code>
</pre>

<h2>Example with default date format</h2>
<sy-audit-trail [lastModifiedByEmail]="lastModifiedByEmail1" [createdByEmail]="createdByEmail1" [created]="created1" [lastModified]="lastModified1">
</sy-audit-trail>
<h4>HTML</h4>
<pre>
    <code>{{codeExample1}}</code>
</pre>

<h4>Script(TS)</h4>
<pre>
    <code>{{codeScript1}}</code>
</pre>