$color-grey: rgb(245, 245, 245);
$color-black: rgb(0, 0, 0);
$color-white:rgb(255, 255, 255);
$card-background: #fff;
$color-green:#42854a;
$color-red: #FF0000;
$color-green-medium: #87d9a3;
$color-green-light: #ADD8BB;
$color-grey-dark: rgba(85, 84, 84, 0.12);
$color-grey-light: #f1f1f1;
$color-transparent: rgba(0, 0, 0, .65);
$color-light-red: #fa6b6b;
$color-red-medium:#ff7e65a6;
$color-deep-purple: #b388ff;
$color-teal: #4d9c8a;
$color-teal-light:#52c7b8;
$color-lime-lighter: #e6ee9c;
$color-light-orange: #ffccbc;
$color-indigo: #c0cfff;
$color-deep-indigo: #7a99fd;
$color-blue:#0026ca;
$color-transparent-dark: rgba(0, 0, 0, .75);
$light-brown: #efebe9;
$dark-brown: #a69b97;
$color-orange: rgb(238, 120, 30);
$color-cyan: #4bc1d2;
$color-gray:rgba(255, 255, 255, .25);
$color-transparent-light: rgba(0, 0, 0, .12);
$color-primary: $color-cyan;
$alertWarningColor: #D84009;
$alertSuccessColor: #4aa564;
$alertInfoColor: #00A7CF;
$alertErrorColor: #EC1942;
$color-primary-dark : #008080;
$horizontal-padding: 1rem;
$vertical-padding: 3rem;
$icon-size: 2rem;
$light-grey: #9c9c9c;
$input-max-width: 46rem !default;
$warningBackgroundColor: #FFFAF3;